apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ app.name | lower }}
  namespace: {{ app.namespace | lower if app.namespace is defined and  app.namespace is not false else "default" }}
  {% if app.ingresses.rewrite != false -%}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: {{ app.ingresses.rewrite }}
  {% endif %}

spec:
  rules:
    {% for ingress in app.ingresses.rules -%}
    - host: {{ ingress.hostname }}
      http:
        paths:
        - path: {{ ingress.path }}
          pathType: {{ ingress.path_type }}
          backend:
            service:
              name: {{ app.name | lower }}-service
              port:
                number: {{ app.service.expose }}
    {% endfor %}
