---
apiVersion: v1
kind: Service
metadata:
  name: {{ app.name }}-service
  namespace: {{ app.name | lower if app.use_namespace else "default"}}
  labels:
    app: {{ app.name }}
    name: {{ app.name }}-service
spec:
  ports:
  - port: {{ app.service.expose }}
    targetPort: {{ app.service.target }}
    protocol: TCP
    name: {{ app.service.name }}
  selector:
    app: {{ app.name }}
    