---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: 'portainer'
  namespace: "{{ kube_core_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{ 'admin' | to_traefik_middleware }}"
{% if production_environment %}
    external-dns.alpha.kubernetes.io/target: {{ cloudflare_record_target }}
    cert-manager.io/cluster-issuer: letsencrypt
{% endif %}
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  tls:
    - secretName: "{{ portainer_domain }}-tls"
      hosts:
        - "{{ portainer_domain }}"
  rules:
    - host: "{{ portainer_domain }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: portainer
              port:
                number: 9000