---
env:
  TZ: Europe/Paris
ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: "{{ 'admin' | to_traefik_middleware }}"
      external-dns.alpha.kubernetes.io/target: "{{ cloudflare_record_target }}"
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
    - host: "{{ portal_domain }}"
      paths:
        - path: "/"
          pathType: Prefix
    tls:
      - secretName: "{{ portal_domain }}-tls"
        hosts:
          - "{{ portal_domain }}"

persistence:
  icon1:
    enabled: true
    type: configMap
    name: portal-icon
    subPath: favicon.png
    mountPath: /www/assets/icons/favicon-32x32.png
  icon2:
    enabled: true
    type: configMap
    name: portal-icon
    subPath: favicon.png
    mountPath: /www/assets/icons/favicon-16x16.png

configmap:
  config:
    enabled: true
    data:
      config.yml: |
        title: MBCaaS
        subtitle: Portal
        header: true
        logo: "/assets/icons/favicon-32x32.png"
        footer: "Private - This area is reserved for my private use, if you have arrived here please let me know at the following email address: brice.michalski.92@gmail.com"
        colors:
          light:
            highlight-primary: "#15316e"
            highlight-secondary: "#2049a1"
            highlight-hover: "#5a95f5"
            card-shadow: rgba(0, 0, 0, 50)
            background-image: "https://www.our-voices.org.uk/assets/images/Network-diagram.png"
        links:
          - name: "Home repository"
            icon: "fab fa-github"
            url: "https://github.com/BriceMichalski/home"
            target: "_blank"

          - name: "Artifact Hub"
            icon: "fas fa-receipt"
            url: "https://artifacthub.io/"
            target: "_blank"

          - name: "Docker Hub"
            icon: "fab fa-docker"
            url: "https://hub.docker.com/"
            target: "_blank"

          - name: "Pubic Portal"
            icon: "fas fa-share"
            url: "https://michalski.fr"
            target: "_blank"

        services:
          - name: Infrastructure
            icon: "fab fa-codepen"
            items:

              - name: "Hosting"
                icon: "fas fa-server"
                subtitle: "Portainer"
                tag: "kube-core"
                url: "https://{{ portainer_domain }}"
                target: "_blank"

              - name: "Storage"
                icon: "fas fa-hdd"
                subtitle: "Longhorn"
                tag: "kube-core"
                url: "https://{{ longhorn_domain_name }}"
                target: "_blank"

              - name: "Monitoring"
                icon: "fas fa-tachometer-alt"
                subtitle: "Grafana"
                tag: "kube-core"
                url: "https://{{ grafana_domain }}"
                target: "_blank"

              - name: "Alerting"
                icon: "fas fa-bell"
                subtitle: "Alert Manager"
                tag: "kube-core"
                url: "https://{{ alertmanager_domain }}"
                target: "_blank"

          - name: Network
            icon: "fas fa-network-wired"
            items:

              - name: "Status"
                icon: "fas fa-heartbeat"
                subtitle: "Uptime Robot"
                tag: "external"
                url: "https://stats.uptimerobot.com/GxVp5iBEZr"
                target: "_blank"

              - name: "DNS"
                icon: "fas fa-route"
                subtitle: "Cloudflare"
                tag: "external"
                url: "https://dash.cloudflare.com/f5bd577bd1f7337fa65ca58e462ed4dc"
                target: "_blank"

              - name: "Router"
                icon: "fas fa-random"
                subtitle: "Traefik"
                tag: "kube-core"
                url: "https://{{ traefik_dashboard_domain }}"
                target: "_blank"

              - name: "Request Debugger"
                icon: "fas fa-question"
                subtitle: "whoami"
                tag: "kube-core"
                url: "https://{{ request_debug_domain }}"
                target: "_blank"

          - name: Application
            icon: "fas fa-vector-square"
            items:

              - name: "IAM"
                icon: "fas fa-users"
                subtitle: "Authentik"
                tag: "kube-iam"
                url: "https://{{ authentik_domain }}"
                target: "_blank"

              - name: "Continuous Deployment"
                icon: "fas fa-sync-alt"
                subtitle: "Argo CD"
                tag: "kube-gitops"
                url: "https://{{ argocd_domain }}"
                target: "_blank"

              - name: "My repository"
                icon: "fab fa-github"
                subtitle: "Github"
                tags: "external"
                url: "https://github.com/BriceMichalski?tab=repositories"
                target: "_blank"
