---
image:
  tag: {{ .Values.apps.version.errorPages}}
env:
  TEMPLATE_NAME: connection
  SHOW_DETAILS: "false"
ingress:
  main:
    enabled: true
    annotations:
      {{ toYaml .Values.helper.ingress.annotations.common | nindent 6 }}
    hosts:
      - host: {{ .Values.dns.errorPages}}
        paths:
          - path: "/"
            pathType: Prefix

resources:
  {{ toYaml .Values.quotas.errorpages | nindent 2}}
