---
apiVersion: "kci.rocks/v1alpha1"
kind: "Database"
metadata:
  name: "authentik-db"
  namespace: "{{ kube_iam_namespace }}"
spec:
  secretName: authentik-db-config
  instance: "{{ postgres_shared_instance_name }}"
  deletionProtected: false # Protection to not delete database when custom resource is deleted
  backup:
    enable: false # turn it to true when you want to use back up feature. currently only support postgres
    cron: "0 0 * * *"