---
authentik:
  secret_key: "{{ autehntik_secret_key }}"
  # This sends anonymous usage-data, stack traces on errors and
  # performance data to sentry.beryju.org, and is fully opt-in
  error_reporting:
    enabled: false

redis:
  enabled: true

ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "{{ 'admin' | to_traefik_middleware }}"
    external-dns.alpha.kubernetes.io/target: "{{ cloudflare_record_target }}"
    cert-manager.io/cluster-issuer: letsencrypt
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: "{{ authentik_domain }}"
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - secretName: "{{ authentik_domain }}-tls"
      hosts:
        - "{{ authentik_domain }}"

envValueFrom:
  AUTHENTIK_POSTGRESQL__HOST:
    configMapKeyRef:
      key: DB_CONN
      name: authentik-db-config
  AUTHENTIK_POSTGRESQL__PORT:
    configMapKeyRef:
      key: DB_PORT
      name: authentik-db-config
  AUTHENTIK_POSTGRESQL__NAME:
    secretKeyRef:
      key: POSTGRES_DB
      name: authentik-db-config
  AUTHENTIK_POSTGRESQL__USER:
    secretKeyRef:
      key: POSTGRES_USER
      name: authentik-db-config
  AUTHENTIK_POSTGRESQL__PASSWORD:
    secretKeyRef:
      key: POSTGRES_PASSWORD
      name: authentik-db-config