# ---
# {{- if eq .Values.envType "production" }}
# apiVersion: cert-manager.io/v1
# kind: Certificate
# metadata:
#   name: 'traefik-dashboard-crt'
# spec:
#   dnsNames:
#     - '{{ .Values.traefik.url }}'
#   secretName: 'traefik-dashboard-tls'
#   issuerRef:
#     group: cert-manager.io
#     kind: ClusterIssuer
#     name: letsencrypt
# {{- end }}
