---
apiVersion: kci.rocks/v1alpha1
kind: DbInstance
metadata:
  name: "{{ mysql_shared_instance_name }}"
  namespace: "{{ kube_data_namespace }}"
spec:
  adminSecretRef:
    Name: mysql-secret
    Namespace: "{{ kube_data_namespace }}"
  engine: mysql
  generic:
    host: mysql.{{ kube_data_namespace }}
    port: 3306