---
ports:
    web:
        port: 80
    websecure:
        port: 443
        tls: 
            enabled: {{ traefik_web_secure_enable_tls }}

service:
    spec:
        externalTrafficPolicy: Local

logs:
    general:
        level: {{ traefik_log_level }}
    access:
        enabled: {{ traefik_access_log }}

ingressClass:
  enabled: true
  isDefaultClass: true

additionalArguments: [
    "--entryPoints.websecure.forwardedHeaders.trustedIPs={{ cloudflare_ip_whitelist | join(',') }}"
]
