---
apiVersion: kci.rocks/v1alpha1
kind: DbInstance
metadata:
  name: "{{ postgres_shared_instance_name }}"
  namespace: "{{ kube_data_namespace }}"
spec:
  adminSecretRef:
    Name: postgres-secret
    Namespace: "{{ kube_data_namespace }}"
  engine: postgres
  generic:
    host: postgresql.{{ kube_data_namespace }}
    port: 5432