---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: "{{ kube_data_namespace }}"
type: Opaque
data:
  user: "{{ pgsql_admin_user | b64encode }}"
  password: "{{ pgsql_admin_password | b64encode }}"
  postgres-password: "{{ pgsql_admin_password | b64encode }}"