---
alertmanager:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: kube-operable-cloudflare-ip-whitelist@kubernetescrd,kube-operable-admin-auth@kubernetescrd
      external-dns.alpha.kubernetes.io/target: {{ cloudflare_record_target }}
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - "{{ alertmanager_domain }}"
    tls:
      - secretName: "{{ alertmanager_domain }}-tls"
        hosts:
          - "{{ alertmanager_domain }}"

grafana:
  defaultDashboardsTimezone: Europe/Paris
  adminPassword: "{{ grafana_admin_password }}"
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: kube-operable-cloudflare-ip-whitelist@kubernetescrd
      external-dns.alpha.kubernetes.io/target: {{ cloudflare_record_target }}
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - "{{ grafana_domain }}"
    tls:
      - secretName: "{{ grafana_domain }}-tls"
        hosts:
          - "{{ grafana_domain }}"
