---
image:
  tag: "{{ error_pages_version }}"
env:
  TEMPLATE_NAME: lost-in-space
  SHOW_DETAILS: "false"
ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: "{{ 'common' | to_traefik_middleware }}"
      external-dns.alpha.kubernetes.io/target: "{{ cloudflare_record_target }}"
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: "{{ error_domain }}"
        paths:
          - path: "/"
            pathType: Prefix
