---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: admin
  namespace: "{{ kube_core_namespace }}"
spec:
  chain:
    middlewares:
    - name: security
    - name: admin-auth
    - name: errors
    - name: compress