---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: security
  namespace: "{{ kube_core_namespace }}"
spec:
  chain:
    middlewares:
    - name: ip-whitelist
{% if production_environment %}
    - name: https
{% endif %}
    - name: ratelimit