---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: "{{ kube_data_namespace }}"
type: Opaque
data:
  user: "{{ 'root' | b64encode }}"
  password: "{{ mysql_admin_password | b64encode }}"
  mysql-root-password: "{{ mysql_admin_password | b64encode }}"
  mysql-replication-password: "{{ mysql_admin_password | b64encode }}"
  mysql-password: "{{ mysql_admin_password | b64encode }}"