---
apiVersion: v1
kind: Secret
metadata:
  name: authsecret
  namespace: "{{ kube_core_namespace }}"
data:
  users: |2
    YnJpY2VfbWljaGFsc2tpOiRhcHIxJFVxQ2k1N3l2JFprSHFwMWdvTC9CT01ERUF6
    cld0RjAKCg==
    
---
# Declaring the user list
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: admin-auth
  namespace: "{{ kube_core_namespace }}"
spec:
  basicAuth:
    secret: authsecret
    removeHeader: true