---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: ip-whitelist
  namespace: "{{ kube_core_namespace }}"
spec:
  ipWhiteList:
    sourceRange: {{ cloudflare_ip_whitelist }}