---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: "{{ app.namespace }}"
  name: "{{ app.name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ app.name }}"
  template:
    metadata:
      labels:
        app: "{{ app.name }}"
    spec:
      imagePullSecrets:
        - name: regcred
      volumes: {{ app.pod_volumes | to_json }}
      containers: {{ app.containers | to_json }}
