---
{% set traefik_middleware_name = app.traefik_middleware if app.traefik_middleware is defined else "common" %}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: '{{ app.name }}'
  namespace: "{{ app.namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: {{ traefik_middleware_name | to_traefik_middleware }}
{% if production_environment %}
    external-dns.alpha.kubernetes.io/target: {{ cloudflare_record_target }}
{% endif %}
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  tls: {{ app.tls | to_json }}
  rules: {{ app.ingress_rules | to_json }}